<header>
  <nav>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon aria-hidden="false" aria-label="">account_balance_wallet</mat-icon>
        <a routerLink="/">
          <span>{{ appTitle }}</span>
        </a>
        <span class="default-spacer"></span>
        <a routerLink="/" class="nav-link">Início</a>
        <a routerLink="/expenses" class="nav-link">Despesas</a>
        <a routerLink="/expense" class="nav-link">Nova Despesa</a>
        <a routerLink="/categories" class="nav-link">Categorias</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</header>