.categoriesContainer input {
    margin-top: 5px;    
}

.collection .collection-item.avatar {
    min-height: 60px !important;

    a:last-child {
        margin-right: 10px;
    }

    .btn-floating{
        margin-top: 5px;
    }
}