.expensesContainer
{
    display: grid;
    height: 320px;
    overflow: auto;
    padding-top: 10px;
}

tr.mat-footer-row
{
    font-weight: bold;
}
  
.mat-table-sticky
{
    border-top: 1px solid #e0e0e0;
}