<div class="row">
  <mat-form-field class="col s12">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col s12">
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{ util.getFullDate(element) }} </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element">
        <label *ngIf="element.category | doc | async as category">{{category.description}}</label>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element">
          {{ element.value | currencyFormat: 'BRL' : true }}         
      </td>
    </ng-container>
    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef> Tipo de pagamento </th>
      <td mat-cell *matCellDef="let element">
          <label *ngIf="element.paymentMethod | doc | async as paymentMethod">{{paymentMethod.description}}</label>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="edit" (click)="editExpense(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
    </ng-container>
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef> Remover </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="edit" (click)="removeExpense(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>