/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
@import "app/materialize.custom.css";

body, html {
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

.default-spacer {
    flex: 1 1 auto;
}
