<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row">
  <div novalidate>
    <div class="row">
      <input formControlName="id" type="hidden" />
      <mat-form-field class="col s12">
        <input matInput formControlName="dateJson" [matDatepicker]="date" placeholder="Data da despesa" disabled required>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col s12">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="idCategory" required>
          <mat-option *ngFor="let category of categories | async | orderBy: 'description'" [value]="category.id">
            {{category.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col s12">
        <input matInput #input formControlName="description" placeholder="Descrição" required="required"
          data-length="255" />
        <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <mat-form-field class="col s12">
        <mat-label>Método de pagamento</mat-label>
        <mat-select formControlName="idPaymentMethod" required>
          <mat-option *ngFor="let paymentMethod of paymentMethods | async | orderBy: 'description'" [value]="paymentMethod.id">
            {{paymentMethod.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col s12">
        <input matInput #input currencyMask formControlName="value" placeholder="Valor"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required="required" data-length="255" />
      </mat-form-field>
    </div>
    <div class="col s12">
      <button type="button" mat-raised-button (click)="onCancelClick()">Cancelar</button>
      <button mat-raised-button class="right" color="primary">Salvar<i class="material-icons">send</i></button>
    </div>
  </div>
</form>